* {
transition: all 0.3s ease-in;
}
body {
background: #ffffff;
color: #1c1c1c;
font-family: "Lato", sans-serif;
width: 100vw;
-webkit-tap-highlight-color: transparent;
}
#home .container {
display: flex;
min-height: 100vh;
width: 100vw;
align-items: center;
background: #ffffff;
}
.hero {
display: flex;
flex-flow: column nowrap;
margin: 3rem;
height: 100%;
width: calc(60% - 6rem);
}
.hello {
font-size: 1.2em;
color: #666666;
}
.title {
margin: 1rem 0;
margin-left: -0.1rem;
font-weight: 900;
font-size: 2.75em;
line-height: 1.2;
color: #1c1c1c;
}
.description {
margin: 0;
font-size: 1.25em;
font-weight: 700;
color: #1c1c1c;
}
.description span.credit {
display: block;
margin-top: 1em;
color: #666666;
font-weight: 400;
font-size: 0.9em;
}
.hero-image{
width: 40%;
height: 100vh;
background: url(../images/bg.webp);
background-size: cover;
background-position: 0 0;
box-shadow: inset 1em 0 1.2em -1em rgba(0,0,0,0.5);
transition: none;
}
.buttons{
margin-top: 2rem;
}
.btn {
padding: 0.5rem 1rem;
border: 0.1rem solid #666666;
margin: 0;
border-radius: 0.25rem;
white-space: nowrap;
line-height: 1.5;
display: inline-block;
}
.btn:hover {
transform: translateY(-3px);
}
.btn:focus {
transform: translateY(-1px);
}
.btn-primary {
background: #333333;
border: 0.1rem solid #333333;
color: #ffffff;
}
.btn-primary:hover {
background: #1c1c1c;
color: #ffffff;
border-color: #1c1c1c;
}
.btn-secondary {
background: transparent;
color: #666666;
}
.btn-secondary:hover {
color: #1c1c1c;
border-color: #1c1c1c;
}

.btn:not(:last-child) {
margin-right: 1rem;
}
a {
color: #666666; 
position: relative;
text-decoration: none;
z-index: 1;
}
a:hover {
color: #1c1c1c;
}
a.link:before {
position: absolute;
content: '';
width: calc(100% - 0.5rem);
height: 0.5rem;
bottom: 0.1rem;
left: 0.25rem;
background: rgba(20,20,20,0.1);
z-index: -1;
transition: all 0.3s;
}
a.link:hover:before {
width: 100%;
height: 0.25rem;
left: 0;
bottom: -0.25rem;
}
footer {
padding: 2rem 3rem;
background: #ffffff;
}
footer .copy{
margin: 0;
}
header{
padding-top: 3.75rem
}
header nav{
width: calc(100vw - 2rem);
background: #ffffff;
padding: 1rem;
display: flex;
position: fixed;
justify-content: space-between;
align-items: center;
z-index: 2;
top: 0;
}
nav .logo {
height: 1.75rem;
fill: #1c1c1c;
}
.toggles {
display: flex;
align-items: center;
}
.dark-mode {
height: 1.75rem;
stroke: #1c1c1c;
stroke-width: 12%;
fill: #ffffff;
margin-right: 2rem;
z-index: 1;
}
.dark-mode.active {
fill: #1c1c1c;
stroke-width: 6%;
}
nav ul {
list-style-type: none;
margin: 0;
position: absolute;
left: 0;
top: 3.75rem;
width: 100vw;
height: 0;
overflow: hidden;
transition: all 0.3s;
display: flex;
flex-flow: column nowrap;
background: #ffffff;
justify-content: center;
}
nav ul li {
text-align: right;
margin: 0.5rem 3rem;
font-size: 1.75rem;
font-weight: 900;
text-transform: uppercase;
opacity: 0;
position: relative;
}
nav ul li a:before{
position: absolute;
content: '';
width: 75%;
height: 0;
background: rgba(20,20,20,0.2);
bottom: -25%;
right: 5%;
z-index: -1;
}
nav ul li a.active:before{
height: 25%;
}
nav ul.isActive {
height: calc(100vh - 3.75rem);
}
nav ul.isActive li {
opacity: 1;
}
.nav-toggle {
width: 15px;
height: 5px;
background: #1c1c1c;
border-radius: 0.25rem;
position: relative;
transition: width 0.3s, background 0.3s 0.3s;
display: inline-block;
}
.nav-toggle:after, .nav-toggle:before {
content:'';
position: absolute;
height: 5px;
width: 23px;
background: #1c1c1c;
border-radius: 0.25rem;
top: 10px;
right: 0;
transition: width 0.3s, top 0.3s 0.3s, bottom 0.3s 0.3s, background 0.3s, transform 0.3s;
}
.nav-toggle:before {
width: 28px;
bottom: 10px;
top: auto;
}
.nav-toggle:hover, .nav-toggle:hover:before , .nav-toggle:hover:after {
width: 30px;
}
.nav-toggle.isActive {
background: transparent;
transition: width 0.3s, background 0.3s;
width: 30px;
box-shadow: none !important;
}
.nav-toggle.isActive:after {
top: 0;
width: 30px;
transform: rotate(45deg);
transition: width 0.3s, top 0.3s, bottom 0.3s, background 0.3s 0.3s, transform 0.3s 0.3s;
}
.nav-toggle.isActive:before {
bottom: 0;
width: 30px;
transform: rotate(-45deg);
transition: width 0.3s, top 0.3s, bottom 0.3s, background 0.3s 0.3s, transform 0.3s 0.3s;
}

@media (max-width: 750px) and (min-width: 400px){
#home .container {
flex-flow: column nowrap;
align-items: flex-start;
}
.hero {
width: 75%;
margin: 5rem 3rem;
}
.hero-image {
width: 100%;
height: 50vh;
min-height: 400px;
box-shadow: inset 0 1em 1.2em -1em rgba(0,0,0,0.5);
}
header{
padding-top: 3.75rem
}
header nav{
width: calc(100vw - 6rem);
padding: 1.5rem 3rem;
}
nav ul.isActive {
height: calc(100vh - 3.75rem);
}
}

@media (max-width: 400px) {
#home .container {
background: url(../images/bg.webp);
background-size: cover;
background-position: 0% 50%;
min-height: calc(100vh - 3.75rem);
}
.hero {
margin: 1rem;
padding: 2rem;
width: calc(100% - 6rem);
text-align: center;
background: rgba(255,255,255,0.9);
border-radius: 0.25rem;
}
.hero-image {
display: none;
}
.btn {
display: block;
line-height: 1.5;
}
.btn:not(:last-child) {
margin-bottom: 1rem;
margin-right: 0;
}
footer {
padding: 1rem;
text-align: center;
}
}

@media (min-width: 750px) {
#home .container {
align-items: flex-end;
}
header {
padding: 0;
}
header nav {
background: transparent;
width: calc(100vw - 6rem);
padding: 2rem 3rem;
}
nav ul {
left: auto;
right: 0;
top: 0;
width: 0;
height: 100vh;
}
nav ul.isActive {
width: 33%;
height: 100vh;
box-shadow: 0 0 1em rgba(0,0,0,0.5);
}
nav.fixed {
padding: 1rem;
background: #ffffff;
width: calc(100vw - 2rem);
}
.nav-toggle, .nav-toggle:before , .nav-toggle:after {
box-shadow: 0 0 0 0.1rem #ffffff;
}
}

#latest .container {
padding: 1rem;
background: #ffffff;
}
.post {
width: 100%;
box-shadow: inset 0 0 0.25rem #eeeeee;
border-radius: 0.25rem;
margin: 2rem 0;
background: #ffffff;
}
.post:hover {
box-shadow: inset 0 0 0 0.1rem #eeeeee;
}
.post:last-child {
display: none;
}
.post-image {
width: 100%;
height: 250px;
border-radius: 0.25rem 0.25rem 0 0;
overflow: hidden;
position: relative;
}
.post-title {
position: absolute;
bottom: 0;
z-index: 1;
color: #ffffff;
padding: 2em 1rem 1rem 1rem;
margin: 0;
width: calc(100% - 2rem);
font-size: 1.5em;
text-transform: capitalize;
background: linear-gradient(to top, #1c1c1c, transparent);
}
.post-image img {
width: 100%;
height: 100%;
object-fit: cover;
}
.post:hover img {
transform: scale(1.1)
}
.post-content {
padding: 1rem;
}
.post-details, .post-summary {
margin: 0;
margin-bottom: 1rem;
color: #666666;
}
.post-details {
font-size: 0.75em;
}
.post:hover .post-summary {
color: #1c1c1c;
}
.post-link {
padding: 0.5rem 0.75rem;
font-size: 0.9em;
border: 0.1rem #eeeeee solid;
display: block;
margin-bottom: 0.1rem;
border-radius: 0.25rem;
text-align: center;
}
.post:hover .post-link {
border: 0.1rem #666666 solid;
color: #1c1c1c;
}
.post:hover .post-link:hover {
border: 0.1rem #1c1c1c solid;
background: #1c1c1c;
color: #ffffff;
}

@media (min-width: 400px) {
#latest .container {
padding: 3rem;
}
}

@media (min-width: 550px) {
.posts {
display: flex;
flex-flow: row wrap;
justify-content: space-between;
}
.post {
flex: 0 0 calc(50% - 1rem);
margin: 1rem 0;
}
}
@media (min-width: 550px) and (max-width: 750px) {
.post:last-child {
display: block;
}
}
@media (min-width: 750px) {
.post {
flex: 0 0 calc(33% - 1rem);
}
.post-image {
height: 300px;
}
}


#subscribe .container {
padding: 2rem;
background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/p1.jpeg);
background-position: 0 0;
background-size: cover;
color: #ffffff;
transition: none;
}
#subscribe .container h2, #subscribe .container p{
color: #ffffff;
}
.input-group {
position: relative;
margin-bottom: 1rem;
}
label {
position: absolute;
top: 0.75rem;
left: 1rem;
font-size: 1.2em;
}
input#email {
  width: 100%;
  font-size: 1.2em;
  padding: 0.75rem 1rem; 
  border: 0.1rem solid #ffffff;
  border-radius: 0.25rem;
  box-shadow: none;
  box-sizing: border-box;
  background: transparent;
  outline: none;
  margin: 0;
   }
label.valid {
top: -1.75em;
left: 0;
font-size: 1em;
}
input[type="submit"] {
  width: 100%;
  font-size: 1.2em;
  padding: 0.75rem 1rem; 
  border: 0.1rem solid #ffffff;
  border-radius: 0.25rem;
  box-shadow: none;
  box-sizing: border-box;
  background: transparent;
  color: #ffffff;
  outline: none;
  font-weight: 700;
}
input[type="submit"].valid {
color: #666;
background: #ffffff;
}
input[type="submit"]:hover {
color: #1c1c1c !important;
background: #ffffff;
}
.error {
font-size: 0.75em;
margin: 0 0 0 0.2rem;
color: #f08080 !important;
height: 0;
overflow: hidden;
}
.error.show {
height: 2em;
}
@media (min-width: 400px) {
#subscribe .container {
padding: 3rem;
}
}

@media (min-width: 550px) {
form {
display: flex;
align-items: flex-start;
}
.input-group {
flex: 0 0 60%;
margin: 0 1rem 0 0;
}
input[type="submit"] {
flex: 30%;
}
label {
position: absolute;
top: 0.4em;
left: 1rem;
font-size: 1.2em;
}
}